.product-image {
}


/* need to make a media query for lead time
or put in menu for less than 350px*/
.order-timing {
    position: relative;
    top: 77px;
    background-color: sienna;
}

.product-name {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.cart-counter h4{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.button-container {
    margin-top: 5%;
    margin-bottom: -5%;
    display: flex;
    justify-content: center;
}

.button-container button {
    border: none;
    padding: 3px;
    margin: 0 10px;
    height: 25px;
    width: 25px;
    background-color: burlywood;
}

.cart-container {
}

/* add media query for a cart to display at around 5-600px */

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto -5% auto;
    border: none;
    min-width: 25%;
    padding: 10px;
    background-color: rgb(85, 48, 48);
    border-radius: 3px;
    color: antiquewhite;
}

.cart_basket{
    height: 1em;
    margin-left: .5em;
}

/* .cart_count {
    color:black;
    border-radius: 100px;
} */
